

{% extends "layout.html" %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css')}}"/>
{% endblock %}


{% block body1 %}


<div class="col-md-8 mt-4 mt-md-0 front-sec-container">
	<div class="row">
		<div class='col brandname mt-5 text-center'>
			<p>Brand: <span>{{brand.brand_name}}<span></p>
		</div>
	</div>
	<div class="row">

	{% if products %}
		{% for product in products %}
		<div class="col-sm-6 col-md-4 front-img1 mb-sm-4 mb-xl-0">
			<div class="front-sec-img-container front-p">
				<div class="front-sec-img">
					<a href="/choose_to_add_to_cart/{{product.prod_id}}/"><img src="{{product.prod_image_url}}" alt="products"></a>
				</div>

				<div class="shop-tag1">
					<a href="/choose_to_add_to_cart/{{product.prod_id}}/"><p>SHOP</p></a>
				</div>

				<div class="front-sec-img-desc mt-2">
					<p>{{ product.prod_name }}</p>
					<p class='price'>${{ product.prod_price }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	{% else %}
			<p class='text-center'>No products available for this brand.</p>
	{% endif %}

	</div>	
</div>
{% endblock %}





