<div class="btn-group dropend brands-dropdown">
    <a class="dropdown-toggle" href="#"> Brands</a>
    <ul class="dropdown-menu drop-menu sub-menu">
        {% if categories %}
            {% for category in categories %}
                <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" href="#">{{ category.cat_name }}</a>
                    <ul class="dropdown-menu drop-sub">
                        {% if brands %}
                            {% for brand in brands %}
                                <li>
                                    <a class="dropdown-item" id='{{ brand.brand_id }}' href="/brand_products/{{ brand.brand_id }}/{{ category.cat_id }}/">
                                        {{ brand.brand_name }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>
