{% extends "layout.html" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css')}}">
{% endblock %}


{% block body1 %}
<div class="col-md-8 d-flex align-items-center justify-content-center front-sec-container mb-5 cookie-cont">
	<div class="cookie-content">
        <h1>Cookie Notice</h1>

        <h2 class='overview'>Cookie Policy Overview</h2>
        <p>This document outlines how cookies are collected and used on the https://zodoterminal.com/ website ("Website"). The terms "we," "us," and "our" refer to Zodo Terminal. This policy is a part of our broader Privacy Notice.</p>
		<p></p>

        <h2>What Are Cookies?</h2>
        <p>Cookies are small text files that are downloaded onto your device (like a computer or smartphone) when you visit our Website. These files allow us to recognize your device and store information about your preferences or past actions to enhance your browsing experience.</p>
        <p>When you first access the Website, your browser downloads cookies. On subsequent visits, the stored cookies are sent either back to our Website (first-party cookies) or to other platforms (third-party cookies).</p>

        <h3>Types of Cookies:</h3>
        <ul>
            <li><span>Session Cookies:</span> Deleted when you close your browser or app.</li>
            <li><span>Persistent Cookies:</span> Remain on your device for a set period.</li>
        </ul>

		<p>We use a combination of session cookies, persistent cookies, and similar technologies to enhance your experience.</p>

		<hr>

		<h2 class='mb-4'>Why we use cookies?</h2>

        <h3>1. Essential Cookies</h3>
        <p>These cookies are crucial for the Website to function properly and enable core services. Without them, the Website wouldn’t work as intended. They do not store any personally identifiable information.</p>

		<h3>2. Personalization Cookies</h3>
        <p>These cookies allow us to tailor the content of the Website to you by remembering your preferences and settings, ensuring a more personalized experience.</p>

		<h3>3. Analytics Cookies</h3>
        <p>We use these cookies to gather anonymous data about how visitors interact with our Website. This helps us improve performance and conduct marketing research. No personal identification is linked to these statistics.</p>

        <p>Our Website also deploys third-party cookies, including those from DoubleClick (Google), YouTube, and Tilda.</p>


		<hr>

		<h2>How Long Do We Store Cookies?</h2>
		<p>Cookies are typically stored for up to 6 months after your last visit to our Website. Some cookies may have their own predetermined expiration periods, which we are unable to modify. For more detailed information on retention periods, you can use services like Cookiepedia to scan the website.</p>

		<hr>

		<h2>Managing Your Cookies</h2>
		<p>By law, we are allowed to store strictly necessary cookies on your device without your consent. However, for any other type of cookies, we require your explicit approval.</p>
		<p>Upon your first visit to our Website, a pop-up will appear where you can manage your cookie preferences. By selecting "Allow all cookies," you agree to our use of cookies for all outlined purposes. If you decline non-essential cookies, your experience on the Website may be affected, as we won’t be able to personalize your experience or remember your device during future visits.</p>
		<p>You are free to change or withdraw your consent at any time by contacting us. Additionally, you can manage cookie preferences directly through your web browser, but please be aware that disabling all cookies may result in certain features of our Website not functioning correctly.</p>
		<p>For the best experience, we recommend adjusting your settings through the Cookie Settings panel on our Website instead of disabling cookies entirely.</p>

		<hr>
		
    </div>
</div>
{% endblock %}







