{% extends "layout.html" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css')}}">
{% endblock %}


{% block body1 %}
<div class="col-md-8 d-flex align-items-center justify-content-center front-sec-container mb-5 legal-cont">
	<div class="legal-content">
        <h1>Legal Notice</h1>

        <h2>Disclaimer</h2>
        <p>By using and navigating this website, www.zodoterminal.com, you automatically agree to comply with the terms and conditions stated in this disclaimer, along with the policies outlined herein.</p>

        <h2>Information and Referrals</h2>
        <p>All content provided on or through this website is intended solely for informational purposes. Zodo Terminal has taken great care in compiling the material presented here. We ensure that our sources are reviewed for reliability, but despite our best efforts, we cannot guarantee that the information is completely accurate, up-to-date, or free from error. No legal rights can be derived from the information displayed on this website.</p>
        <p>We strictly reject any liability for inaccuracies, incompleteness, or timeliness of the information and materials provided. Additionally, any data available through this site cannot be redistributed, published, or used for commercial purposes without express written permission from Zodo Terminal.</p>

        <h2>Use of Materials</h2>
        <p>The material available on this website is provided for personal use and reference only. You are free to download or print content for your own non-commercial purposes. However, it is strictly prohibited to modify, distribute, or transmit any content in a way that conflicts with the intellectual property rights of Zodo Terminal or any third-party entities involved in providing information on this website.</p>

        <h2>Modifications</h2>
        <p>Zodo Terminal reserves the right to modify or change the information provided on this website without prior notice. This disclaimer is subject to updates, and we encourage all users to periodically check this page to stay informed of any changes to the terms of use. By continuing to use this website after any changes are posted, you agree to be bound by the updated terms and conditions.</p>

        <p>We take pride in maintaining transparency and providing relevant information, but we encourage you to contact us with any questions or concerns regarding the accuracy or use of the information presented.</p>

    </div>
</div>
{% endblock %}







