{% extends "layout.html" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css')}}">
{% endblock %}


{% block body1 %}
<div class="col-md-8 d-flex align-items-center justify-content-center front-sec-container mb-5 return-cont">
	<div class="return-content">
        <h1>Return and Exchange Policy</h1>
        
        <p>To be eligible for a return or exchange, products must be returned within 14 days of receiving your order. Please note that all returns and exchanges must be processed through our <a href="#">Returnarea Portal</a> for tracking and processing purposes. Any returns not processed through the portal will unfortunately not be accepted.</p>

        <p>For your return or exchange to be accepted, please ensure the following conditions are met:</p>

        <ul>
            <li>Products must be in their original, unworn condition with all tags attached.</li>
            <li>Items should be returned in their undamaged original packaging, including the shoebox.</li>
            <li>The completed Return Form must accompany the returned items.</li>
            <li>Shipping fees are non-refundable.</li>
        </ul>

        <p>If any of these conditions are not met, the return will be rejected and sent back to you. Please ensure the items meet these guidelines to avoid any delays.</p>

        <p>Once we receive your return, it will be processed within 10 business days. Please allow up to 5 additional days for the refund to reflect on your account after processing.</p>

        <hr>

        <div class="contact-info-return">
            <p>If you have any questions regarding your return or exchange, feel free to reach out to us at <a href="mailto:customerservice@zodoterminal.com">customerservice@zodoterminal.com</a>.</p>

            <p>For any issues with return labels, please contact our partner Returnarea at <a href="mailto:support@returnarea.com">support@returnarea.com</a>.</p>
        </div>

    </div>
</div>
{% endblock %}







