<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://db.onlinewebfonts.com/c/5c5a257758cff0acee4d28ff555f3bc5?family=Helvetica" rel="stylesheet">
	<link href="https://db.onlinewebfonts.com/c/a64ff11d2c24584c767f6257e880dc65?family=Helvetica+Regular" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link href="https://db.onlinewebfonts.com/c/eefaf210db33b5abee62154454f14ed7?family=Paganini+W00+Light" rel="stylesheet">
	<link href="https://db.onlinewebfonts.com/c/0d7b60e48285c3fa75a9537d55db1645?family=Paganini+W00+Regular" rel="stylesheet">
	<link href="https://db.onlinewebfonts.com/c/ad35788c241a4a27e79c68b4563b9035?family=Inter+Thin" rel="stylesheet">
	<link href="https://db.onlinewebfonts.com/c/61d1f920b74fc7eba0fdd179a7744d99?family=Inter+Medium" rel="stylesheet">
	<link href="https://db.onlinewebfonts.com/c/0c2686858879af34f6fc99179becd0a8?family=Inter+Extra+Bold" rel="stylesheet">
	<link href="https://db.onlinewebfonts.com/c/b2bf6541bf9ab3fc3138440f2bc8b592?family=Neue+Montreal+Light" rel="stylesheet">
	<link href="https://db.onlinewebfonts.com/c/7980cc1889b6b0b264dc47cca659f7c2?family=Neue+Montreal+Regular" rel="stylesheet">
	<link href="https://db.onlinewebfonts.com/c/c5c9157a20810aac79a10bf84a37bdb4?family=Neue+Montreal+Medium" rel="stylesheet">
	<link href="https://db.onlinewebfonts.com/c/55d433372d270829c51e2577a78ef12d?family=Monument+Extended+Bold" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap/css/bootstrap.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='FA/css/all.css')}}">
	<title>ZODO TERMINAL Official Online Store</title>
	{% block stylesheet %}{% endblock %}
	{#<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/vendor_login.css')}}">#}

	<meta name="keyword" content=" ESTAVO DE'BLANC Shop for men Shop for women accessories summer winter "/>
	<meta name="author" content="Estavo De'blanc"/>
	<meta property="og:title" content="ESTAVO DE'BLANC Official Online Store"/>
	<meta property="og:description" content="Elevate your lifestyle with simplicity and elegance"/>
	<meta property="og:image" content="images/estavo.jpg"/>
	<meta property="og:locale" content="en-US"/>
	<meta property="og:type" content="article"/>
	<meta property="og:site" content="estavo.com"/>	
</head>
<body>
	<div class="container-fluid home-container">
		<div class="row">
			<div class="col px-0">
				<div class="landing-page">
			
					<div class="landing-content">
						<nav class="navbar navbar-expand-lg px-0 py-lg-0 mt-3 nav-custom">
						  <div class="container-fluid p-lg-0">
							<a class="navbar-brand brand-name" href="#"><span>The Zodo</span> Terminal</a>
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							  <span class="navbar-toggler-icon"></span>
							</button>
					  
							<div class="nav-container">
							  <div class="collapse navbar-collapse custom" id="navbarSupportedContent">
								<ul class="navbar-nav me-auto nav-ul custom d-flex justify-content-center w-100">
								  <li class="nav-item text-center flex-grow-1 px-2 dropdown">
									<a class="nav-link dropdown-toggle" href="#">SHOP</a>
									<div class="dropdown-menu custom-dropdown">
									  <div class="dropdown-item">
										<div>
											<a href="#" class="dropdown-link">Men</a>
											<ul>
												<li><a href=""></a></li>
												<li><a href=""></a></li>
												<li><a href=""></a></li>
												<li><a href=""></a></li>
												<li><a href=""></a></li>
											</ul>
										</div>

										<div>
											<a href="#" class="dropdown-link">Women</a>
											<ul>
												<li><a href=""></a></li>
												<li><a href=""></a></li>
												<li><a href=""></a></li>
												<li><a href=""></a></li>
												<li><a href=""></a></li>
											</ul>
										</div>

										<div>
											<ul>
												<li><a href=""></a></li>
												<li><a href=""></a></li>
												<li><a href=""></a></li>
												<li><a href=""></a></li>
												<li><a href=""></a></li>
											</ul>
										</div>

										<div>
											<ul>
												<li><a href=""></a></li>
												<li><a href=""></a></li>
												<li><a href=""></a></li>
												<li><a href=""></a></li>
												<li><a href=""></a></li>
											</ul>
										</div>
									  </div>
									  <!-- <a class="dropdown-item" href="#">Women</a>
									  <a class="dropdown-item" href="#">Item 3</a>
									  <a class="dropdown-item" href="#">Item 4</a> -->
									</div>
								  </li>
								  <li class="nav-item text-center col-lg-3 px-2 flex-grow-1">
									<a class="nav-link" href="/admin_login/">SELL ON ZODO</a>
								  </li>
								  <li class="nav-item text-center flex-grow-1">
									<a class="nav-link" href="#">SUPPORT</a>
								  </li>
								  <li class="nav-item text-center col-lg-6 px-5 zodoTerm">
									<a class="nav-link" href="/"><span>The Zodo</span> Terminal</a>
								  </li>
								  <li class="nav-item text-center col-lg-2 px-lg-3">
									<a class="nav-link" href="/logIn/">LOGIN</a>
								  </li>
								  <li class="nav-item text-center flex-grow-1 px-2">
									<a class="nav-link" href="#">EN</a>
								  </li>
								  <li class="nav-item text-center flex-grow-1 px-2">
									<a class="nav-link" href="#"><i class="fa fa-search fa-2x" aria-hidden="true"></i></a>
								  </li>
								  <li class="nav-item text-center flex-grow-1 px-2 nav-last">
									<a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasCart" role="button" aria-controls="offcanvasCart"><img src="{{ url_for('static',filename='/img/cart.png')}}" alt="cart"></a>
								  </li>
								</ul>
							  </div>
							</div>			  
						  </div>
						</nav>

					</div>			
				</div>
			</div>
		</div>

		<div class="row">
			{% block body %}
						
			{% endblock %}
		</div>

		




		<!-- FOOTER -->
		<hr class="hr-footer mx-0 mb-0 mt-5">
		<div class="container-fluid footer-container">
			<div class="row pb-4 pt-3 footer px-2 px-md-0">
				<div class="col-md-3">
					<div class="shipping">
						<p class="mb-0">Shipping To</p>
						<div class="d-flex"><span>Nigeria (Change)</span> <span><i class="fa fa-angle-right" aria-hidden="true"></i></span></i></div>
					</div>

					<div class="language mt-4">
						<p class="mb-0">Language</p>
						<div class="d-flex"><span>English (Change)</span> <span><i class="fa fa-angle-right" aria-hidden="true"></i></span></i></div>
					</div>
				</div>

				<div class="col-md-2 mt-3 mt-md-0">
					<div class="nav1 n2">
						<ul>
							<li><a href="#">About Us</a></li>
							<li><a href="#">Career</a></li>
							<li><a href="#">Content</a></li>
							<li><a href="#">Legal Notice</a></li>
							<li><a href="#">Cookies Setting</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-2">
					<div class="nav1 n3">
						<ul>
							<li><a href="#">Client Support</a></li>
							<li><a href="#">Faq</a></li>
							<li><a href="#">Returns</a></li>
							<li><a href="#">Shipping</a></li>
							<li><a href="#">Track Order</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-2">
					<div class="nav1 n4">
						<ul>
							<li><a href="#">Instagram</a></li>
							<li><a href="#">X</a></li>
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Youtube</a></li>
							<li><a href="#">TikTok</a></li>
						</ul>
					</div>
				</div>	

				<div class="col-md-3">
					<div class="nav1 n5">
						<div class="nav1 n1">
							<p>Newsletter</p>
							<p>Sign to our newsletter to receive exclusive update</p>

							<form action="#">
								<div class="form-floating mb-3 form-input col-sm-6 col-md-12 sub">
									<input type="email" name="" class="form-control" placeholder="E-mail">
									<label class="form-label">E-mail</label>
								</div>

								<button class="btn btn-dark col-6 subscribe-btn" type="buton">Subscribe</button>
							</form>
						</div>
					</div>
				</div>
			</div>


			<div class="row align-items-center px-2 px-md-0">	
				<div class="col-md-4">
					<p class="estavo">THE ZODO TERMINAL</p>
				</div>

				<div class="col-md-8 text-center text-md-start ml-md-5">
					<p class="copy">&copy; 2022 - THE ZODO TERMINAL - All rights reserved</p>
				</div>
			</div>
			</div>


	</div>




	<!-- OFF CANVAS FOR SEARCH-->
	<div class="offcanvas offcanvas-end myOffcanvas px-2" tabindex="-1" id="offcanvasSearch" aria-labelledby="offcanvasSearchLabel">
		<div class="offcanvas-header">
		  	<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body d-flex flex-column"> 
			<div class="flex-grow-1">
				<form action="#">
					<div class="search-input">
						<input class="form-control p-0" type="search" name="search" placeholder="SEARCH">
					</div>
				</form>
	
				<div class="mt-4">
					<div>
						<div>
						<p class="suggest-head mb-2">
							Suggestion
						</p>
						</div>
			
						<div class="suggestion-item">
							<div><a href="#">Women's Geneva Summer 24</a></div>
							<div><a href="#">Women's Jewelry</a></div>
							<div><a href="#">Men's Suit Fitted Classic</a></div>
							<div><a href="#">Mens Jewelry</a></div>
						</div>
					</div>
				</div>
			</div>
		
			<div class="search-footer"> <!-- Footer at the bottom -->
					<hr class="hr-footer m-0">
					<div class="d-flex justify-content-end">
						<p><a href="#">Help?</a></p>
					</div>
			</div>
		</div>
	  </div>
	  








	  <!-- OFF CANVAS FOR CART-->
	<div class="offcanvas offcanvas-end myOffcanvas px-2" tabindex="-1" id="offcanvasCart" aria-labelledby="offcanvasSearchLabel">
		<div class="offcanvas-header">
		  	<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body d-flex flex-column">
			<div id="cart-items">
				<!-- Cart items will be loaded here dynamically -->




				<div class="flex-grow-1 cart-status">
					<div>
						<p>Your Cart is empty</p>
					</div>
	
					<div>
						<button class="btn btn-dark btn-lg col-12 shop-btn" type="buton">SHOP MEN</button>
					</div>
		
					<div class="mt-3">
						<button class="btn btn-dark btn-lg col-12 shop-btn" type="buton">SHOP WOMEN</button>
					</div>
				</div>
			</div> 
			

				
			<div class="search-footer"> <!-- Footer at the bottom -->
				<hr class="hr-footer m-0">
				<div class="d-flex justify-content-end">
					<p><a href="#">Help?</a></p>
				</div>
			</div>
		</div>
	  </div>
  
	  
	<script src="/static/bootstrap/js/bootstrap.bundle.js"></script>
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/main.js"></script>

	{% block customjs %}
						
	{% endblock %}
</body>
</html>