{% extends 'admin/dashboard_layout.html' %}
<!-- search banner-->
 
 <!-- end search banner-->
  <!-- about-->

{% block content %}

<div class="row">

<div class="col-md-2">
      
    {% include 'admin/menu.html' %}
    
</div>
<div class="col-md-9 p-3">
    <!-- For the Dashboard-->
     
    <div class="row">
        <div class="col-md-12">
			<table class="table table-striped mt-3">
				<thead>
				  <tr>
					<td>S/N</td>
					<td>ID</td>
					<td>First Name</td>
					<td>Last Name</td>
					<td>Email</td>
					<td>Phone No</td>
					<td>Billing addr</td>
					<td>Picture</td>
					<td>Status</td>
					<td>Created at</td>
				  </tr>
				</thead>
			
				<tbody id='show'>  
					
					{% if customers %}
					{% for customer in customers %}
					<tr>
						<td>{{ loop.index }}</td>
						<td>{{ customer.cust_id }}</td>
						<td>{{ customer.cust_firstname }}</td>
						<td>{{ customer.cust_lastname }}</td>
						<td>{{ customer.cust_email }}</td>
						<td>{{ customer.cust_phone_number }}</td>
						<td>{{ customer.cust_bill_addr }}</td>
						<td>{{ customer.cust_count_id }}</td>
						<td>{{ customer.cust_status }}</td>
						<td>{{ customer.cust_created_at }}</td>
					</tr>
					{% endfor %}
					{% endif %}			
				</tbody>
			  </table>
           
			</div>
		</div>
        </div>
    </div>
    <!-- End the Dashboard-->
  
  </div>
</div>
{% endblock content %}



