						{% extends "layout_three.html" %}

						{% block stylesheet %}
						<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/admin_register.css')}}">
						{% endblock %}

						
						{% block body %}
						<div class="row hero pt-4">
							{% with messages = get_flashed_messages(with_categories=True) %}
							{% if messages %}
								{% for cat,msg in messages %}
									{% if cat == 'error' %}
										<div class="alert alert-danger">{{ msg }}</div>
									{% else %}
										<div class="alert alert-success">{{ msg }}</div>
									{% endif %}
								{% endfor %}
							{% endif %}
							{% endwith %}
							<div class="col pt-5 d-flex align-items-center justify-content-center front-sec-container">
								<div class="form-cont">
									<div class="form-cont1 col-md-7 m-auto">
										<div class="form-head text-center">
											 <p class="log mb-4">Sign Up</p>
											 <p>Please fill in the information below:</p>
										</div>
				
				
										<form action="/admin_register/" method="post" enctype="multipart/form-data" id='adminRegisterForm'>
											{{ adform.csrf_token }}
											<div class="form-floating mb-2 user-cont">
												{{adform.fname.label}}
												{{adform.fname(placeholder='First Name', class="form-control")}}
												{% if adform.fname.errors %}
													{% for error in adform.fname.errors %}
														<span class='err-msg'> {{error}} </span>
													{% endfor %}
												{% endif %}
											</div>


											<div class="form-floating mb-2 user-cont">
												{{adform.lname.label}}
												{{adform.lname(placeholder='Last Name', class="form-control")}}
												{% if adform.lname.errors %}
													{% for error in adform.lname.errors %}
														<span class='err-msg'> {{error}} </span>
													{% endfor %}
												{% endif %}
											</div>


											<div class="form-floating user-cont">
												{{adform.username.label}}
												{{adform.username(placeholder='Username', class="form-control")}}
												{% if adform.username.errors %}
													{% for error in adform.username.errors %}
														<span class='err-msg'> {{error}} </span>
													{% endfor %}
												{% endif %}
											</div>
				
				
											<div class="form-floating user-cont">
												{{adform.email.label}}<br>
												{{adform.email(placeholder="Brand E-mail", class="form-control", id='email')}}<br>
												{% if adform.email.errors %}
													{% for error in adform.email.errors %}
														<span class='err-msg'> {{error}} </span>
													{% endfor %}
												{% endif %}
											</div>
						
								

											<div class="form-floating mb-2 user-cont">
												{{adform.contact_no.label}}
												{{adform.contact_no(placeholder='Contact Number', class="form-control")}}
												{% if adform.contact_no.errors %}
													{% for error in adform.contact_no.errors %}
														<span class='err-msg'> {{error}} </span>
													{% endfor %}
												{% endif %}
											</div>

											<div class="form-floating mb-2 user-cont">
												{{adform.addr.label}}
												{{adform.addr(placeholder='Contact Address', class="form-control")}}
												{% if adform.addr.errors %}
													{% for error in adform.addr.errors %}
														<span class='err-msg'> {{error}} </span>
													{% endfor %}
												{% endif %}
											</div>

											<p class="alert upload-desc">We allow .jpg .png .jpeg</p>
											<div class="form-floating mb-2 user-cont d-flex gap-4 align-items-center">

												<div class="uploaderDiv">
												{{adform.picture(placeholder='Brand Logo', class="form-control filefield", id='filefield')}}
												{% if adform.picture.errors %}
													{% for error in adform.picture.errors %}
														<span class='err-msg'> {{error}} </span>
													{% endfor %}
												{% endif %}

													<button id="load" class="upload  btn btn-dark px-4 py-2">File Upload</button>
												</div>
													
												<input type="hidden" id='image_url' name="image_url" value="">
												<a id="fileName"> </a>
											</div>


											<div class="form-floating mb-2 user-cont">
												{{adform.password.label}}
												{{adform.password(placeholder="Password", class="form-control")}}
												{% if adform.password.errors %}
													{% for error in adform.password.errors %}
														<span class='err-msg'> {{error}} </span>
													{% endfor %}
												{% endif %}
											</div>
				
				
											<div class="form-floating mb-2 user-cont">
												{{adform.cpassword.label}}
												{{adform.cpassword(placeholder="Confirm Password", class="form-control")}}
												{% if adform.cpassword.errors %}
													{% for error in adform.cpassword.errors %}
														<span class='err-msg'> {{error}} </span>
													{% endfor %}
												{% endif %}
											</div>

				
											<div class="log-btn">
												{{adform.submit(class='btn btn-lg col-12 log-btn')}}
											</div>
										</form>
				
										<div class="text-center mt-4">
											<p>Already have an account? <a href="/admin_login/"><u>Log In</u></a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endblock %}

						{% block customjs %}
						<script>
							let filePicker=document.getElementById('filefield');
	
							filePicker.addEventListener('change', (e)=>{
							
								const file = e.target.files[0];
								const imageFormData = new FormData();
								imageFormData.append("file", file);
								imageFormData.append("image", file);
								imageFormData.append("upload_preset", "zodo-terminal");
								imageFormData.append("cloud_name", "dkcbvgmcr");
						
						
								let loader = document.getElementById('load').innerHTML = `
								<div class="loader">
									<li class="dots" id="dot-1"></li>
									<li class="dots" id="dot-2"></li>
									<li class="dots" id="dot-3"></li>
								</div>`
						
								fetch("https://api.cloudinary.com/v1_1/dkcbvgmcr/image/upload", {
								method: "POST",
								body: imageFormData,
								})
						
						
								.then((res) => res.json())
								.then((data) => {
						
									function optimizeImage(url) {
										const [base, file] = url.split('/upload/');
										return `${base}/upload/c_scale,w_auto,q_auto,f_auto/${file}`;
									}
									
									document.getElementById('fileName').innerHTML = optimizeImage(data?.url);
									const cloudFile = document.getElementById('image_url').value = optimizeImage(data?.url);
									document.getElementById('load').innerHTML = 'File Upload'
									console.log(`image from cloudinary: ${cloudFile}`)
										
								})
								.catch((err) => {
									console.log(err);
									document.getElementById('load').innerHTML = 'File Upload';
								});
							})




							$(document).on('click', '.log-btn', function() {
								const adminRegisterForm = document.getElementById('adminRegisterForm');
								const adminRegisterFormData = new FormData(adminRegisterForm);
								adminRegisterFormData.append("csrf_token", "{{ csrf_token() }}"); 
							
								$.ajax({
									url: '/admin_register/',
									type: 'POST',
									data: adminRegisterFormData,
									processData: false,   // Prevent jQuery from processing data
									contentType: false,   // Prevent jQuery from setting content type, as FormData has its own
									success: function(response) {
										console.log(response);
									},
									error: function(error) {
										console.error('Error in Registering:', error);
									}
								});
							});
						</script>
						{% endblock %}



