{% extends 'admin/dashboard_layout.html' %}
<!-- search banner-->
 
 <!-- end search banner-->
  <!-- about-->

{% block content %}

<div class="row">

<div class="col-md-2">
      
    {% include 'admin/menu.html' %}
    
    {{ session.get('admin_id') }}
</div>
<div class="col-md-9 p-3">
    <!-- For the Dashboard-->
     
    <div class="row">
        <div class="col-md-12">
            <h5 class="my-3">Welcome {{ admin_details.admin_username }}</h5>
            <p>You are logged in, please make use of the side menu to carry out tasks on this platform, you can sign out when you are done.</p>
           
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center">Total Order</div>
                        <div class="card-body">
                          <h5 class="card-title text-center">{{ orders | count }}</h5>                           
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-bg-info mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center">Total Brand</div>
                        <div class="card-body">
                          <h5 class="card-title text-center">{{ brands | count }}</h5>                           
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center">Total Product</div>
                        <div class="card-body">
                          <h5 class="card-title text-center">{{ products | count }}</h5>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End the Dashboard-->
    

</div>
</div>
  <!-- end about-->
  
  
  
 
 <!--Local 3rd Party-->
 <!--section title-->
 
<!-- end section title-->

{% endblock content %}