{% extends 'admin/dashboard_layout.html' %}
<!-- search banner-->
 
 <!-- end search banner-->
  <!-- about-->

{% block content %}

<div class="row">

<div class="col-md-2">     
    {% include 'admin/menu.html' %}    
</div>

	<div class="col-md-9 p-3">
    <!-- For the Dashboard-->
     
    <div class="row hero pt-4">
		<div class="col pt-5 d-flex align-items-center justify-content-center front-sec-container">
			<div class="form-cont">
				{% with messages = get_flashed_messages(with_categories=True) %}
				{% if messages %}
					{% for cat,msg in messages %}
						{% if cat == 'error' %}
							<div class="alert alert-danger">{{ msg }}</div>
						{% else %}
							<div class="alert alert-success">{{ msg }}</div>
						{% endif %}
					{% endfor %}
				{% endif %}
				{% endwith %}
				<div class="form-cont1 col-md-7 m-auto">
					<div class="form-head text-center">
						 <p class="log mb-4">Update Product</p>
						 <p>Edit the information below:</p>
					</div>


					<form action="/admin/update_product/{{product.prod_id}}/" method="post" enctype="multipart/form-data">
						{{ adform.csrf_token }}
						<div class="form-floating mb-2 user-cont">
							{{adform.prod_id.label}}
							{{adform.prod_id(placeholder='Product Id', class="form-control", value=product.prod_id)}}
							{% if adform.prod_id.errors %}
								{% for error in adform.prod_id.errors %}
									<span class='err-msg'> {{error}} </span>
								{% endfor %}
							{% endif %}
						</div>


						<div class="form-floating mb-2 user-cont">
							{{adform.prod_name.label}}
							{{adform.prod_name(placeholder='Product Name', class="form-control", value=product.prod_name)}}
							{% if adform.prod_name.errors %}
								{% for error in adform.prod_name.errors %}
									<span class='err-msg'> {{error}} </span>
								{% endfor %}
							{% endif %}
						</div>


						<div class="form-floating mb-2 user-cont">
							{{adform.prod_brand_id.label}}
							{{adform.prod_brand_id(placeholder='Product Brand', class="form-control", value=product.prod_brand_id)}}
							{% if adform.prod_brand_id.errors %}
								{% for error in adform.prod_brand_id.errors %}
									<span class='err-msg'> {{error}} </span>
								{% endfor %}
							{% endif %}
						</div>


						<div class="form-floating mb-2 user-cont">
							{{adform.prod_category_id.label}}
							{{adform.prod_category_id(placeholder='Product Category Id', class="form-control", value=product.prod_category_id)}}
							{% if adform.prod_category_id.errors %}
								{% for error in adform.prod_category_id.errors %}
									<span class='err-msg'> {{error}} </span>
								{% endfor %}
							{% endif %}
						</div>

	

						<div class="form-floating mb-2 user-cont">
							{{adform.prod_desc.label}}
							{{adform.prod_desc(placeholder='Product description', class="form-control")}}
							{% if adform.prod_desc.errors %}
								{% for error in adform.prod_desc.errors %}
									<span class='err-msg'> {{error}} </span>
								{% endfor %}
							{% endif %}
						</div>



						<div class="form-floating mb-2 user-cont">
							{{adform.prod_price.label}}
							{{adform.prod_price(placeholder='Product Price', class="form-control", value=product.prod_price)}}
							{% if adform.prod_price.errors %}
								{% for error in adform.prod_price.errors %}
									<span class='err-msg'> {{error}} </span>
								{% endfor %}
							{% endif %}
						</div>



						<div class="form-floating mb-2 user-cont">
							{{adform.prod_featured_id.label}}
							{{adform.prod_featured_id(placeholder='Product description', class="form-control")}}
							{% if adform.prod_featured_id.errors %}
								{% for error in adform.prod_featured_id.errors %}
									<span class='err-msg'> {{error}} </span>
								{% endfor %}
							{% endif %}
						</div>



						<p class="alert upload-desc">We allow .jpg .png .jpeg</p>
						<div class="form-floating mb-2 user-cont">
							{{adform.prod_img.label}}
							{{adform.prod_img(placeholder='Product Image', class="form-control filefield")}}
							{% if adform.prod_img.errors %}
								{% for error in adform.prod_img.errors %}
									<span class='err-msg'> {{error}} </span>
								{% endfor %}
							{% endif %}
						</div>


						<div class="log-btn">
							{{adform.submit(class='btn btn-lg col-12 log-btn')}}
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

  
  	</div>
</div>
{% endblock content %}